.library {
  width: 100vw;
  /* height: 100vh;
  overflow: hidden; */
}

.app-lib {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-bg-lib);
  height: 65vh;
  width: 100%;
}

.grid-lib {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.container-lib {
  background-color: var(--primary-bg-lib);
  padding: 0 4rem;
}

.column-lib {
  height: 100%;
}

.column-left-lib {
  background-color: var(--tertiary-text-lib);
  height: 100%;
  padding: 0.5rem;
}

.column-insert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid var(--secondary-bg-lib);
}

.book-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1165.33px;
  transition: var(--transition-time) ease;
  /* overflow: hidden; */
}

.booklist-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* overflow: hidden; */
}

.book-view {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .app-lib {
    height: 75vh;
    /* background: var(--tertiary-text-lib); */
  }

  .book-view {
    display: none;
  }

  .container-lib {
    padding: 0;
  }

  .column-lib {
    width: 100vw;
  }

  .column-left-lib {
    padding: 0;
  }
}
