.about {
  margin-bottom: 5rem;
  margin-right: 15rem;
  padding: 0 7.5rem;
  transition: transform var(--reveal-delay), opacity var(--reveal-delay);
}

.about--hidden {
  opacity: 0;
}

.about-content {
  display: flex;
}

.profile-text {
  min-width: 370px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.img-container {
  padding: 1rem;
}

.profile-img-bg {
  border-radius: 5px;
  background-color: var(--highlight);
}

.profile-img {
  display: block;
  max-width: 350px;
  border-radius: 5px;
  opacity: 0.4;
  transition: var(--transition-time) ease opacity;
}

.profile-img:hover {
  opacity: 1;
}
