.app-grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: auto;
}

.main-content {
  padding-left: 13rem;
  padding-right: 2rem;
}

@media screen and (max-width: 480px) {
  .app-grid {
    grid-template-columns: 1fr;
  }

  .main-content {
    padding-left: 0;
    width: 100vw;
  }
}
