.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 15rem;
  margin-right: 200px;
  transition: transform 1s, opacity var(--reveal-delay);
}

.project--hidden {
  opacity: 0;
  /* transform: translateY(8rem); */
}

.project h4 {
  color: var(--primary-text);
  font-family: 'Segoe UI Variable', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.project h5 {
  color: var(--highlight);
  font-family: 'Consolas';
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 0;
}

.project-r .column-left {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.project-r .column-right {
  position: relative;
  grid-column: 7 / 13;
}

.project-r .project-img {
  min-width: 750px;
  /* max-height: 421.875px; */
  border-radius: 5px;
  background-color: var(--highlight);
}

.project-r .project-img img {
  display: block;
  max-width: 750px;
  opacity: 0.4;
  transition: 0.5s ease opacity;
  border-radius: 5px;
}

.project-r .project-img video {
  display: block;
  max-width: 750px;
  opacity: 0.4;
  transition: 0.5s ease opacity;
  border-radius: 5px;
}

.project-r .project-img img:hover {
  opacity: 1;
}
.project-r .project-img video:hover {
  opacity: 1;
}

.project-r .project-tags ul {
  display: flex;
  list-style: none;
}

.project-r .project-tags ul li {
  color: var(--primary-text);
  font-family: 'Consolas';
  margin: 1rem 1.5rem;
}

.project-r .project-heading {
  text-align: right !important;
}

.project-r .project-content {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--background-secondary);
  padding: 1.5rem;
  z-index: 2;
}

.project-r .column-right .icons {
  display: flex !important;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1rem;
  color: var(--primary-text);
}
