.navbar {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-column-end: 6;
  height: 75px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding: 0 2rem;
}
